*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/R.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Frijole", system-ui;
}

.back{
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-family: "Frijole", system-ui;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border-radius: 24px;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.3s;
}  
.back:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.boxInfo{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  

.title{
    text-align: center;
    font-size: 100px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.depositeBox,
.transferBox,
.seyTransactionLimit
{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-size: 15px;
    border-radius: 20px;
}
.historyBox{
    width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-size: 15px;
    border-radius: 20px;
}

.withdrawBox{
    width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-size: 15px;
    border-radius: 20px;
}

#withdrawInp,
#transferInp,
#transferCardInp,
#depositeInp,
#transactionLimitInp{
    padding: 10px;
    border: none;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
    font-family: "Frijole", system-ui; 
}
#withdrawInp:focus,
#transferInp:focus,
#transferCardInp:focus,
#depositeInp:focus,
#transactionLimitInp:focus{
    width: 280px;
    border-color: #2ecc71;
}

#withdrawBtn,
#transferBtn,
#transferCardBtn,
#depositeBtn,
#transactionLimitBtn{
    padding: 10px;
    border: none;
    background: none;
    display: block;
    margin: 20px auto;    
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: "Frijole", system-ui; 
}
#withdrawBtn:hover,
#transferBtn:hover,
#transferCardBtn:hover,
#depositeBtn:hover,
#transactionLimitBtn:hover{

    background: #2ecc71;
}

#depositeInp{
    padding: 10px;
    border: none;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(0, 0, 0);
    border-radius: 24px;
    transition: 0.25s;
    font-family: "Frijole", system-ui; 
}
#depositeInp:focus{
    width: 280px;
    border-color: #2ecc71;
}

#depositeBtn{
    padding: 10px;
    border: none;
    background: none;
    display: block;
    margin: 20px auto;    
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: "Frijole", system-ui; 
}
#depositeBtn:hover{
    border-color: #2ecc71;
}

.inputBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.imgLogotransaction{
    width: 40px;
    height: 40px;
   
    padding: 10px;
    border-radius: 5px;
    border: 3px solid white;

}

.transaction{
    padding: 10px;
    border: none;
    background: none;
    display: flex;
    justify-content: space-between;

    align-items: center;

    margin: 20px auto;    
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 500px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    font-family: "Frijole", system-ui; 

}

.transactionAmount{
    font-size: 20px;
    font-weight: bold;
    color: #2ecc71; 
}

.transationtitle{
    font-size: 20px;

}
.transactionData{
    font-size: 20px;
}