*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/R.jfif );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Frijole", system-ui;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imeges{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    background-image: url(../img/account-svgrepo-com\ \(1\).svg);
    image-rendering: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}